@{
    ViewData["Title"] = "Home Page";
}
<section class="home-slider position-relative">
    <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="bg-half-170 d-table align-items-center w-100" style="background:url('/lib/images/bg/7578122.png') center center;">
                    <div class="bg-overlay bg-overlay-dark"></div>
                    <div class="container">
                        <div class="row mt-5">
                            <div class="col-lg-12">
                                <div class="heading-title">
                                    <h1 class="fw-bold mb-4 text-white-50">Thời Trang Phong Cách <br> Ấn Tượng</h1>
                                    <p class="para-desc mb-0 text-white-50">Khám phá thế giới thời trang đa dạng và đầy sáng tạo tại chỗ. Chúng tôi mang đến cho bạn những sản phẩm thời trang đẳng cấp, từ những bộ trang phục thanh lịch đến những chi tiết thời trang độc đáo, giúp bạn tỏa sáng và tự tin trong mọi dịp.</p>

                                    <div class="mt-4 pt-2">
                                        <a href="/Product/ProductList" class="btn btn-info">Mua ngay</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div>
            </div>

            <div class="carousel-item">
                <div class="bg-half-170 d-table align-items-center w-100" style="background:url('/lib/images/bg/SHA0819WHEAL_05-4ca631d702e448ba8359e82f0e581b9c.jpg') center center;">
                    <div class="bg-overlay bg-overlay-dark"></div>
                    <div class="container">
                        <div class="row mt-5">
                            <div class="col-lg-12">
                                <div class="heading-title">
                                    <h1 class="fw-bold mb-4 text-white-50">Thể Thao và Phong Cách <br> Hòa Quyện Thời Gian Đầy Thú Vị</h1>
                                    <p class="para-desc mb-0 text-white-50">Khám phá thế giới thời trang đa dạng và đầy sáng tạo tại chỗ. Chúng tôi mang đến cho bạn những sản phẩm thời trang đẳng cấp, từ những bộ trang phục thanh lịch đến những chi tiết thời trang độc đáo, giúp bạn tỏa sáng và tự tin trong mọi dịp.</p>

                                    <div class="mt-4 pt-2">
                                        <a href="/Product/ProductList" class="btn btn-info">Mua ngay</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div>
            </div>

            <div class="carousel-item">
                <div class="bg-half-170 d-table align-items-center w-100" style="background:url('/lib/images/bg/KIDS-lander-polo-2023.jpg') center center;">
                    <div class="bg-overlay bg-overlay-dark"></div>
                    <div class="container">
                        <div class="row mt-5">
                            <div class="col-lg-12">
                                <div class="heading-title">
                                    <h1 class="fw-bold mb-4 text-white-50">Thời Trang Polo <br> Lịch Lãm và Thể Thao</h1>
                                    <p class="para-desc mb-0 text-white-50">Khám phá thế giới thời trang đa dạng và đầy sáng tạo tại chỗ. Chúng tôi mang đến cho bạn những sản phẩm thời trang đẳng cấp, từ những bộ trang phục thanh lịch đến những chi tiết thời trang độc đáo, giúp bạn tỏa sáng và tự tin trong mọi dịp.</p>

                                    <div class="mt-4 pt-2">
                                        <a href="/Product/ProductList" class="btn btn-info">Mua ngay</a>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end container-->
                </div>
            </div>
        </div>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    </div>
</section><!--end section-->
<!-- End Hero -->
<!-- Start -->
<section class="section">
    <!-- Start Most Viewed Products -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="title">Các sản phẩm mới nhất</h4>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-12 mt-4 pt-2">
                <div class="slider-range-four">
                    @foreach (var item in ViewBag.Products)
                    {
                        <div class="tiny-slide">
                            <a asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@item.ProductId" class="card pharpachy-categories border-0 rounded overflow-hidden">
                                <img src="@item.Image" style="height:330px;width:260px;" class="img-fluid" alt="">
                                <div class="category-title">
                                    <span class="text-secondary title-white"><span class="h6">@item.Name</span><br>@string.Format("{0:N0}", item.Price) VNĐ</span>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <br><br>
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">Duyệt qua các loại quần áo</h4>
                    <p class="text-muted para-desc mb-0">Chúng tôi tự hào là một địa chỉ đáng tin cậy cho tất cả những ai đam mê thời trang và mong muốn sở hữu những bộ trang phục đẹp và phong cách. Với bề dày kinh nghiệm và sự tận tâm, chúng tôi đã xây dựng lên một sân chơi thú vị cho những người yêu thời trang, từ những người mới bắt đầu cho đến những người đã có kinh nghiệm.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            @{
                int cateCount = 0;
            }
            @foreach (var cate in ViewBag.Categories)
            {
                cateCount++;
                <div class="col-xl-3 col-lg-4 col-md-6 col-6 mt-4 pt-2">
                    <a href="/Product/ProductList?searchCategory=@cate.CategoryId" class="card pharpachy-categories border-0 rounded overflow-hidden">
                        <img src="/lib/images/categories/@cate.Image" style="width:280px;height:260px" class="img-fluid" alt="">
                        <div class="category-title">
                            <span class="text-white title-white"><span class="h5">@cate.Name</span><br>Cate @cateCount</span>
                        </div>
                    </a>
                </div>
            }
        </div><!--end row-->

        <div class="row justify-content-center">
            <div class="col-12 text-center mt-4 pt-2">
                <a href="/Product/ProductList" class="btn btn-info">Xem thêm</a>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

</section><!--end section-->
